.main__toolbar{
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #70ce79;
}
.main__card-list_wrapper{
  height: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: rgba(96, 206, 195, 0.35);
}
.main__card-list{
  width: 27%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #e0ffe1;
}

@media (max-width: 420px){
  .main__card-list{
    width: 90%;
    margin: 0 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background-color: #e0ffe1;
  }
}
