* {
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
}
app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
button{
  outline: none;
  transition-duration: 30ms;
}
button:active{
  transform: scale(0.93);
  transition-duration: 30ms;
}
