.main__card-list__card{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 20px;
  margin: 6px 0;
  padding: 5%;
  box-sizing: border-box;
  border-radius: inherit;
  background-color: rgba(136, 244, 141, 0.67);
}
.main__card-list__card.active{
  background-color: rgba(196, 248, 191, 0.67);
  border: 1px solid #49b94e;
}
.main__card-list__card.medium-priority{
  background-color: #dae853;
}
.main__card-list__card.medium-priority.active{
  background-color: #eefa89;
  border: 1px solid #bec44e;
}
.main__card-list__card__buttons.medium-priority button{
  background-color:#bec44e;
}
.main__card-list__card.high-priority{
  background-color: #de6368;
}
.main__card-list__card.high-priority.active{
  background-color: #f78f91;
  border: 1px solid #bc555e;
}
.main__card-list__card__buttons.high-priority  button{
  background-color: #bc555e;
}

.main__card-list__card.done{
  background-color: #c6c6c6;
}
.main__card-list__card.done.active{
  background-color: #e3e3e3;
  border: 1px solid #8e8e8e;
}
.main__card-list__card__buttons.done  button{
  background-color: #b1b1b1;
}
.main__card-list__card__info{
  margin: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.main__card-list__card__info span{
  font-weight: 600;
  text-decoration: underline;
}
.main__card-list__card p{
  padding: 3%;
  font-size: 16px;
}
.main__card-list__card__buttons{
  align-self: stretch;
  display: flex;
  align-items: center;
}
label{
  margin-right: 2%;
  font-size: 15px;
  font-style: italic;
}
input{
  margin-right: auto;
}
.main__card-list__card__buttons button{
  margin: 0 3%;
  padding: 8px;
  border: transparent;
  border-radius: 7px;
  background-color: #70ce79;
  outline: none;
}
