.main__card-list__card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 20px;
}

.main__card-list__card p{
  padding: 5%;
  font-size: 16px;
}
.main__card-list__card__buttons{
  margin-right: 5%;
  align-self: flex-end;
  display: flex;
}
.main__card-list__card__buttons button{
  margin: 0 5%;
  padding: 8px;
  border: transparent;
  border-radius: 7px;
  background-color: #70ce79;
  outline: none;
}
