<div class="main__card-list__card"
     [class.done]="isDone" [class.active]="isActive"
     [class.medium-priority]="compareDate(7)" [class.high-priority]="compareDate(3)">
  <h5 class="main__card-list__card__title" (click)="expandCard()">
    <span class="main__card-list__card_id">{{id.slice(2)}}.</span> {{name}}
  </h5>
  <div class="main__card-list__card__info" *ngIf="isActive">
    <p class="main__card-list__card__info_description">{{description}}</p>
    <p class="main__card-list__card__info_due-date" *ngIf="dueDate"><span>Due date:</span> {{dueDate | date}}</p>
    <p class="main__card-list__card__info_assignee" *ngIf="assignee"><span>Assignee:</span> {{assignee.firstName}} {{assignee.lastName}}</p>
  </div>
  <div class="main__card-list__card__buttons" *ngIf="isActive"
       [class.done]="isDone" [class.medium-priority]="compareDate(7)" [class.high-priority]="compareDate(3)">
    <label for="done">Done:</label>
    <input type="checkbox" id="done" [(ngModel)]="isDone">
    <button class="main__card-list__card__buttons__button_edit">Edit</button>
    <button class="main__card-list__card__buttons__button_remove" (click)="emitDelete(id)">Remove</button>
  </div>
</div>
